<br>
<br>
<br>

<h1 style="font-size: 3em; text-align: center; margin-top: 10%">DJ Khaaled</h1>	

<div style="text-align: center">
    <h3>Current Song</h1>
    <h1><i>{{song}}</i></h1>
</div>
<br>
<br>
<br>
<div style="text-align: center">
    <h3>Crowd Mood</h3>
    <h1><i>{{mood}}</i></h1>
</div>